* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 1fr 50px;
    min-height: 100vh;
    grid-template-areas: 
    "header header header"
    "main main main" 
    "footer footer footer";
        
    
}

.container header {
    display: flex;
    background: rgb(64,26,100);

    grid-area: header;
    justify-content: center;
    align-items: center;
    text-align: center;
      
    
    
    
}

/*.container aside {
    background-color: yellow;
    grid-area: aside;
}
*/
 main {
   /* background: rgb(231,44,154);
background: linear-gradient(90deg, rgba(231,44,154,1) 0%, rgba(201,50,161,1) 5%, rgba(135,62,176,1) 45%, rgba(141,169,116,1) 74%, rgba(134,219,73,1) 100%);
    */
    /*background-color: rgb(89, 36, 138) ;*/
    background: rgb(2,0,36);
background: linear-gradient(1deg, rgba(2,0,36,1) 0%, rgba(76,9,121,1) 39%, rgba(222,7,181,1) 100%);

    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
     
    
}

.container footer {
    background-color: rgb(83, 172, 32);
    grid-area: footer;
}

.tapa {
    max-width: 325px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    max-width: 1170px;
    margin: 80px auto;

}

.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


 @-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }


  .titulostyle {
    font-size: 7vh;
    color: #f2f2f2;
                
  }
  
  