* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35px 1fr 100px;
    min-height: 100vh;
    grid-template-areas: 
    "header header header"
    "main main main" 
    "footer footer footer";
    
    
}

.container header {
    background-color: #09f;
    grid-area: header;
}

/*.container aside {
    background-color: yellow;
    grid-area: aside;
}
*/
 main {
    background-color: red;
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
     
    
}

.container footer {
    background-color: grey;
    grid-area: footer;
}

.tapa {
    max-width: 325px;
     
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 1170px;

}